.idea
FRONTEND-APPLICATION/.angular
FRONTEND-APPLICATION/.vscode
FRONTEND-APPLICATION/dist
FRONTEND-APPLICATION/node_modules
BACKEND-APPLICATION/.idea
BACKEND-APPLICATION/.mvn
BACKEND-APPLICATION/target
