<header class="header">
  <div class="text-center header__top">FIND YOUR NEXT STAY</div>
  <div class="container">
    <div
      class="d-flex justify-content-between align-items-center header__content"
    >
      <div class="d-flex align-items-center header__content__right">
        <h4><a routerLink="" class="header__logo">BRIGHT HOTELS</a></h4>
        <ul class="d-flex nav__list">
          <li class="nav__item">
            <a href="">Groups & Meetings</a>
          </li>
          <li class="nav__item">
            <a href="">Support</a>
          </li>
          <li class="nav__item">
            <a href="">Trips</a>
          </li>
        </ul>
      </div>
      <div class="header__content__left">
        <a *ngIf="isUserLoggedIn == true" routerLink="/logout">LOGOUT</a>
        <a *ngIf="isUserLoggedIn == false" routerLink="/login">LOGIN</a>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer></footer>
<notifier-container></notifier-container>
