* {
  box-sizing: border-box;
}

h4 {
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.header {
  border: 1px solid #eee;
}

.header__top {
  padding: 10px;
  background-color: #344854;
}

.header__top span {
  color: #eee;
  font-size: 12px;
  letter-spacing: 2px;
}

.header__top a {
  color: #eee;
  font-size: 14px;
}

.header__content {
  padding: 30px 0;
}

.header__content__right a {
  color: #344854;
}

.header__content__left a {
  margin-left: 20px;
  color: #344854;
}

.header__content__left button {
  border: 0;
  color: #344854;
  background-color: transparent;
}

.header__logo {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav__item {
  margin-left: 25px;
}

/* Start Hero Section Styles */

.hero__section {
  height: 87.9vh;
  background-image: url("/assets/images/hero-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero__form {
  border-radius: 4px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9);
}

.hero__form__btn {
  margin-top: 40px;
  padding: 17px;
  border: none;
  border-radius: 4px;
  width: 100%;
  color: #fff;
  background-color: #344854;
}

.hero__form__btn:hover {
  background-color: #253139;
}

.hotels__section {
  height: 100vh;
}

.hotels__section__title {
  margin: 90px 0;
}

.hotels__section__title h5 {
  color: #344854;
}

.hotels__section__title span {
  margin-top: 10px;
  display: block;
  width: 113px;
  height: 8px;
  background-color: #253139;
}

.hotels__content {
  gap: 50px !important;
  justify-content: space-between;
}

.hotel__item {
  padding-right: 0;
  padding-left: 0;
  padding: 25px;
  width: 400px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hotel__image {
  border: 3px solid #eee;
}

.hotel__description {
  color: #666;
  font-size: 15px;
}

.see__all_rooms_btn {
  margin: auto;
  display: block;
  padding: 17px 20px;
  color: #fff;
  background-color: #344854;
  text-decoration: none;
}

.offer__section {
  height: 60vh;
  background-image: url("/assets/images/offer-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #253139;
  background-blend-mode: overlay;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.offer__section h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.offer__section p {
  margin: auto;
  width: 50%;
  line-height: 1.6;
}

.offer__section button {
  margin-top: 40px;
  padding: 15px 40px;
  border: none;
  border-radius: 3px;
  color: #344854;
  background-color: #fff;
}

.rooms__section {
  height: 100vh;
}

.rooms__layout {
  justify-content: space-between;
}

.rooms__sidebar {
  padding: 20px;
  border: 2px solid #eee;
  background-color: rgba(224, 227, 238, 0.2);
}

.rooms__content {
  padding: 30px;
  padding-bottom: 0;
  border: 2px solid #eee;
  background-color: rgba(224, 227, 238, 0.2);
}

.room__item {
  margin-bottom: 30px;
  padding: 15px;
  border: 2px solid #eee;
  background-color: #fff;
}

.room__name {
  color: #253139;
  font-weight: 600;
}

.room__description {
  color: #666;
  line-height: 1.6;
  font-size: 15px;
}

.room__price {
  color: #344854;
  font-weight: 600;
}

.room__details__link {
  color: #253139;
}

/* Start Modal Styles */
.close-btn-modal {
  border: none;
  background-color: transparent;
  font-size: 25px;
}
/* End Modal Styles */

.add__btn {
  color: #eee;
  background-color: #344854;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
