<header class="header">
  <div class="container">
    <div
      class="d-flex justify-content-between align-items-center header__content"
    >
      <div class="d-flex align-items-center header__content__right">
        <h4><a routerLink="" class="header__logo">BRIGHT HOTELS</a></h4>
        <ul class="d-flex nav__list">
          <li class="nav__item">
            <a href="">Groups & Meetings</a>
          </li>
          <li class="nav__item">
            <a href="">Support</a>
          </li>
          <li class="nav__item">
            <a href="">Trips</a>
          </li>
        </ul>
      </div>
      <div class="header__content__left">
        <button type="button" *ngIf="isUserLoggedIn" (click)="onLogout()">
          LOGOUT
        </button>
        <a [hidden]="isUserLoggedIn" routerLink="/login">LOGIN</a>
        <a [hidden]="isUserLoggedIn" routerLink="/register">REGISTER</a>
        <a *ngIf="isUserLoggedIn" routerLink="/dashboard">DASHBOARD</a>
      </div>
    </div>
  </div>
</header>

<section class="d-flex align-items-center hero__section">
  <div class="container">
    <form action="#" class="col-md-5 hero__form">
      <div class="row">
        <div class="col-md-12 mb-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Choose The City"
            />
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="form-group">
            <div class="input-wrap">
              <div class="icon"><span class="ion-md-calendar"></span></div>
              <input
                type="date"
                class="form-control appointment_date-check-in"
                placeholder="Check-In"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="form-group">
            <div class="input-wrap">
              <div class="icon"><span class="ion-md-calendar"></span></div>
              <input
                type="date"
                class="form-control appointment_date-check-out"
                placeholder="Check-Out"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="form-group">
            <div class="form-field">
              <div class="select-wrap">
                <select name="" id="" class="form-control">
                  <option value="">Adults</option>
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                  <option value="">5</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="form-group">
            <div class="form-field">
              <div class="select-wrap">
                <select name="" id="" class="form-control">
                  <option value="">Children</option>
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                  <option value="">5</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Phone number"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-wrap">
              <div class="icon"><span class="ion-ios-clock"></span></div>
              <input
                type="text"
                class="form-control appointment_time ui-timepicker-input"
                placeholder="Time"
                autocomplete="off"
              />
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <button type="submit" class="hero__form__btn">
            CHECK ROOM AVAILABILTY
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="hotels__section">
  <div class="container">
    <div class="hotels__section__title">
      <h5>Discover Our Hotels Collection</h5>
      <span></span>
    </div>
    <div class="row hotels__content">
      <div *ngFor="let hotel of hotels" class="col-3 hotel__item">
        <div class="hotel__image">
          <img src="{{ hotel.imageUrl }}" class="w-100" />
        </div>
        <h3 class="my-3">{{ hotel.name }}</h3>
        <p class="hotel__description">{{ hotel.description }}</p>
        <a routerLink="/hotel/rooms/{{ hotel.id }}" class="see__all_rooms_btn"
          >SEE ALL ROOMS</a
        >
      </div>
    </div>
  </div>
</section>

<section class="offer__section">
  <div>
    <h2>Get 10% off On Your Next Booking</h2>
    <p>
      When you book your accommodation through this Booking.com discount link,
      you will get 10% cash back in the form of a refund to your credit or debit
      card after you have completed your stay booked through Booking.com. Is
      there a catch here? Not really. It is pretty straightforward.
    </p>
    <button>Get Started</button>
  </div>
</section>

<section class="rooms__section">
  <div class="container">
    <div class="hotels__section__title">
      <h5>Discover Our Featured Rooms</h5>
      <span></span>
    </div>
    <div class="row gap-5 rooms__layout">
      <div class="col-8 rooms__content">
        <div *ngFor="let room of rooms" class="room__item">
          <div class="row align-items-shrenk">
            <div class="col-3 room__image">
              <img src="{{ room.imageUrl }}" class="w-100" />
            </div>
            <div class="col-9 room__text">
              <h5 class="room__name">{{ room.name }}</h5>
              <p class="room__description">{{ room.description }}</p>
              <div class="d-flex justify-content-between">
                <p>
                  Price :
                  <span class="room__price">{{
                    room.price | currency : "USD"
                  }}</span>
                </p>
                <a [routerLink]="['room', room.id]" class="room__details__link"
                  >Details</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 rooms__sidebar"></div>
    </div>
  </div>
</section>

<footer></footer>
