<div class="container">
  <div class="hotels__section__title">
    <h5>
      <p class="text-uppercase d-inline">{{ lastname }}</p>
      'S Reservations List
    </h5>
    <span></span>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Room Image</th>
        <th scope="col">Room Name</th>
        <th scope="col">Room Price</th>
        <th scope="col">Reservation Status</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <th>{{ reservation.id }}</th>
        <th>
          <img src="{{ reservation.room.imageUrl }}" style="width: 80px" />
        </th>
        <td>{{ reservation.room.name }}</td>
        <td>{{ reservation.room.price }}</td>
        <td>
          <button class="btn btn-sm btn-warning">PENDING</button>
        </td>
        <td>
          <button class="btn btn-sm btn-danger">DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div *ngFor="let reservation of reservations">
  <p>{{ reservation.client.firstname }}</p>
  <p>{{ reservation.id }}</p>
  <p>{{ reservation.room.name }}</p>
  <p>Pending</p>
  <hr />
</div> -->
