.hotels__section__title {
  margin: 90px 0;
}

.hotels__section__title h5 {
  color: #344854;
}

.hotels__section__title span {
  margin-top: 10px;
  display: block;
  width: 113px;
  height: 8px;
  background-color: #253139;
}
