<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ANGULAR APPLICATION | HOME</title>
  </head>
  <body>
    <div class="container m-5">
      <div class="d-flex align-items-center">
        <h3>WELCOME TO THE HOMEPAGE !!</h3>
        <span class="ms-3" *ngIf="titleAction$ | async as title">{{
          title
        }}</span>
      </div>

      <nav class="navbar navbar-expand-lg navbar-light bg-light my-5">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" (click)="changeTitle('Users')">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="changeTitle('Profile')">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="changeTitle('Settings')"
                  >Settings</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <button
        type="button"
        class="btn btn-info"
        data-bs-toggle="modal"
        data-bs-target="#addUserModal"
      >
        <i class="fa fa-plus"></i>New User
      </button>

      <table class="table table-hover table-bordered">
        <thead class="table-borderless">
          <tr class="text-center">
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users">
          <tr class="text-center">
            <td>{{ user?.userId }}</td>
            <td>{{ user?.firstname }}</td>
            <td>{{ user?.lastname }}</td>
            <td>{{ user?.username }}</td>
            <td>{{ user?.email }}</td>
            <td>
              <span [hidden]="!user?.active" class="badge badge-success"
                >Active</span
              >
              <span [hidden]="user?.active" class="badge badge-danger"
                >Inactive</span
              >
            </td>
            <td class="">
              <div class="">
                <button class="btn btn-sm btn-success">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-sm btn-danger">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
